body {
    font-family: 'Nunito';
    margin: 0;
    padding: 0;
  }
    
  .logo img {
    width: 274.1px; 
    height: 71.6px;
    padding: 0 30px;
  }
  
  .signup-form,
  .login-form {
    padding: 40px;
    width: 106%;
    height: 100dvh;
    background-color: #213f5e;
    color: #f8f9fb;
  }
 
  .signup-form h2,
  .login-form h2 {
    font-size: 1.5rem;
    font-family: 'Nunito';
  }
  
  .alternative-signup {
    margin-top: 10px;
    color: #007bff;
    cursor: pointer;
  }

  .account-link p {
    margin-bottom: 0; 
  }
  
  .account-link a {
    margin-left: 10px; 
  }

